[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "moc.gapbk"]
	path = moc.gapbk
	url = https://github.com/cran/moc.gapbk
[submodule "mstknnclust"]
	path = mstknnclust
	url = https://github.com/cran/mstknnclust
